body {
  background-color: #040601;
  background-size: cover;
  position: absolute;
  color: #101906;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  height: 100vh;
  position: relative;
  z-index: -1;
}
@media only screen and (max-width: 500px) {
  body {
    background: #040601;
  }
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}
@media only screen and (max-width: 500px) {
  .background-overlay {
    display: none;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #F2AA42;
  border-radius: 24px;
  margin: 10px;
  z-index: 1;
}
header .navbar {
  list-style: none;
  display: flex;
}
header .navbar ul {
  list-style: none;
  display: flex;
}
header .navbar ul li {
  margin: 0 10px;
}
header .navbar ul li a {
  text-decoration: none;
  color: #333333;
  font-size: 18px;
}
@media only screen and (max-width: 500px) {
  header .navbar ul li a {
    color: #F2AA42;
  }
}
header .navbar ul li a:hover {
  text-decoration: underline;
  color: #040601;
}
header .actual-page {
  font-weight: bolder;
  color: #F2AA42;
}
header .search {
  color: #F2AA42;
}
@media only screen and (max-width: 768px) {
  header .search {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  header {
    border-radius: 0%;
    padding: 0%;
    margin: 0%;
    position: fixed;
    width: 100%;
    top: 0;
  }
}

.logo img {
  height: 50px;
}

@media only screen and (max-width: 500px) {
  .logo {
    display: none;
  }
}

.active-page {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EBE9E7;
  font-size: 22px;
  font-weight: bolder;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  flex-grow: 1;
}
@media only screen and (min-width: 768px) {
  .active-page {
    display: none;
  }
}

.navbar-icon {
  background-color: #F2AA42;
  border: none;
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
}
.navbar-icon .icon {
  position: relative;
}
.navbar-icon .icon img {
  width: 30px;
  height: 30px;
}
.navbar-icon .icon:hover {
  color: #F2AA42;
}
@media only screen and (min-width: 768px) {
  .navbar-icon {
    display: none;
  }
}

main {
  flex: 1;
  text-align: center;
  color: #EBE9E7;
  z-index: 1;
}
main h1, main h2, main h3, main h4, main h5 {
  margin-bottom: 10px;
  color: #EBE9E7;
  font-weight: bolder;
}
main h1 {
  font-size: 48px;
}
main h2 {
  font-size: 24px;
}
main h3 {
  font-size: 20px;
}
main h4 {
  font-size: 16px;
}
main h5 {
  font-size: 12px;
}
main p {
  margin: 0 auto;
  text-align: justify;
}
main .page-description {
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
}
main .index-title {
  font-size: 4em;
  margin: 0;
  padding: 0;
  font-weight: bolder;
}
@media only screen and (max-width: 500px) {
  main {
    margin-top: 100px;
    margin-bottom: 60px;
  }
  main h1, main h2, main .page-description {
    display: none;
  }
}

.highlight {
  position: relative;
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}
.highlight img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-image: fill;
  filter: brightness(50%);
  z-index: 1;
}
@media only screen and (max-width: 500px) {
  .highlight img {
    display: none;
  }
}
.highlight h1, .highlight h2, .highlight .page-description {
  position: absolute;
  z-index: 2;
  color: #EBE9E7;
  margin: 0 auto;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}
.highlight h1 {
  top: 20%;
  font-size: 4em;
  font-weight: bolder;
}
.highlight h2 {
  top: 40%;
  font-size: 2em;
}
.highlight .page-description {
  top: 60%;
  width: 80%;
  font-size: 1.2em;
}

.carousel-inner {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}
.carousel-inner p {
  font-size: 20px;
  text-align: left;
  color: #EBE9E7;
  font-weight: bold;
}
.carousel-inner .title-incoming {
  font-size: 30px;
  text-align: left;
  color: #EBE9E7;
  font-weight: bolder;
}
@media (max-width: 768px) {
  .carousel-inner {
    width: 100%;
    height: 300px;
  }
  .carousel-inner p {
    font-size: 20px;
    text-align: left;
    color: #EBE9E7;
    font-weight: bold;
  }
  .carousel-inner .title-incoming {
    font-size: 30px;
    text-align: left;
    color: #EBE9E7;
    font-weight: bolder;
  }
}

.carousel-item img {
  height: 400px;
  width: auto;
  overflow-x: none;
  object-fit: cover;
  display: block;
  border-image: fill;
  box-sizing: border-box;
}

.container {
  max-width: 95%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #040601;
  border-radius: 24px;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.container .carousel-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.container .carousel-btn.prev-btn {
  left: -20px;
}
.container .carousel-btn.next-btn {
  right: -20px;
}
.container .carousel-btn:hover {
  background-color: #F2AA42;
}
@media (max-width: 768px) {
  .container .carousel-btn {
    width: 30px;
    height: 30px;
    left: 0;
    right: 0;
  }
}

.movies {
  max-width: 95%;
  margin: 0 auto;
}

.carousel-container {
  position: relative;
  overflow: hidden;
}
.carousel-container .movie-carousel {
  display: flex;
  overflow-x: auto;
  transition: transform 0.5s ease;
  gap: 20px;
  padding: 15px 10px 15px 10px;
}
.carousel-container .movie-carousel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.carousel-container .movie-carousel::-webkit-scrollbar-thumb {
  background-color: #F2AA42;
  border-radius: 24px;
}
.carousel-container .movie-carousel::-webkit-scrollbar-track {
  background-color: #1E1E1E;
  border-radius: 24px;
}
.carousel-container .movie {
  scroll-snap-align: start;
  flex: 0 0 25%;
  width: 300px;
  flex: 0 0 calc(33.3333333333% - 33px);
  max-width: calc(33.3333333333% - 33px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
.carousel-container .movie img {
  width: 100%;
  height: 200px;
  border-radius: 24px;
  object-fit: cover;
  display: block;
  border-image: fill;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.carousel-container .movie .movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  transition: background 0.3s ease;
}
.carousel-container .movie .movie-info p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.carousel-container .movie .movie-info .movie-length {
  font-size: 14px;
  font-weight: bolder;
  color: #EBE9E7;
}
.carousel-container .movie:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
@media (max-width: 768px) {
  .carousel-container .movie {
    flex: 0 0 calc(50% - 33px);
    max-width: calc(50% - 33px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 24px;
    overflow: hidden;
  }
}

.movie-detail-card {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  padding: 20px;
  border-radius: 15px 15px 0 0;
  box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  z-index: 100;
}
.movie-detail-card.hidden {
  transform: translateY(100%);
}
.movie-detail-card.visible {
  transform: translateY(0);
}
.movie-detail-card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 10px;
}
.movie-detail-card .movie-detail-info h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
}
.movie-detail-card .movie-detail-info p {
  margin: 5px 0;
}

.section-title p {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 16px;
  color: #EBE9E7;
  font-weight: bold;
  text-align: center;
}

.profile img {
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 24px;
}

.profile p {
  font-size: 24px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #EBE9E7;
  font-weight: bolder;
  text-align: center;
}

.friends-container {
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  flex-direction: row;
  align-items: start;
}

.user-friend {
  max-width: 95%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 24px;
  align-items: stretch;
  justify-content: flex-start;
}
.user-friend .avatar {
  position: relative;
  display: inline-block;
  object-fit: cover;
  border-image: fill;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 24px;
  overflow: hidden;
}
.user-friend .avatar img {
  width: auto;
  height: 150px;
  border-radius: 24px;
  object-fit: cover;
  display: block;
  border-image: fill;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  filter: grayscale(0%);
  transition: filter 0.5s ease;
}
.user-friend .avatar:hover {
  filter: grayscale(100%);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.avatar-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  transition: background 0.3s ease;
}
.avatar-info p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.reviews-container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 15px;
  background-color: #1E1E1E;
  border-radius: 24px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.reviews-container .reviews-container2 {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1E1E1E;
}
.reviews-container .review {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #1E1E1E;
  border-radius: 24px;
  padding: 10px;
}
.reviews-container .review-user {
  flex: 1;
  background-color: #333333;
  border-radius: 24px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.reviews-container .review-user p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #EBE9E7;
  text-align: center;
}
.reviews-container .review-user .review-movie {
  flex: 0 0 calc(100% - 33px);
  max-width: calc(100% - 33px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
}
.reviews-container .review-user .review-movie img {
  width: 100%;
  height: 200px;
  border-radius: 24px;
  object-fit: cover;
  display: block;
  border-image: fill;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.reviews-container .review-user .review-movie .movie-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  box-sizing: border-box;
  text-align: left;
  transition: background 0.3s ease;
}
.reviews-container .review-user .review-movie .movie-info p {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.reviews-container .review-user .review-movie:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
.reviews-container .review-content {
  flex: 2;
  background-color: #333333;
  border-radius: 24px;
  padding: 20px;
  box-sizing: border-box;
}
.reviews-container .review-content p {
  margin: 0;
  font-size: 16px;
  color: #EBE9E7;
}

@media (max-width: 768px) {
  .reviews-container {
    flex-direction: column;
  }
  .reviews-container .reviews-container2 {
    flex-direction: column;
    margin-bottom: 5px;
    align-items: center;
  }
  .reviews-container .reviews-container2 .review {
    flex-direction: column;
    align-items: center;
  }
  .reviews-container .reviews-container2 .review .review-user {
    width: 100%;
  }
  .reviews-container .reviews-container2 .review-content {
    width: 100%;
  }
}
.container-reloj {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 10px;
  background-color: #333333;
  border-radius: 24px;
  flex-wrap: wrap;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 500px) {
  .container-reloj {
    max-width: 95%;
  }
}
.container-reloj .timer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
}
.container-reloj .colon {
  font-size: 70px;
  color: #ffffff;
}
.container-reloj .time-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1E1E1E;
  border-radius: 36px;
  padding: 20px;
  margin: 10px 5px;
}
.container-reloj .time-section .time-input, .container-reloj .time-section .label {
  color: #EBE9E7;
}
.container-reloj .time-section .time-input {
  appearance: textfield;
  font-size: 60px;
  width: 80px;
  background-color: transparent;
  border: none;
  color: #EBE9E7;
  text-align: center;
  outline: none;
}
.container-reloj .time-section .time-input::placeholder {
  color: #888888;
}
.container-reloj .time-section .time-input:focus {
  border-bottom: 2px solid #F2AA42;
}
.container-reloj .time-section .time-input::-webkit-inner-spin-button, .container-reloj .time-section .time-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.container-reloj .time-section .label {
  font-size: 20px;
}

.play {
  border-radius: 36px;
  background-color: #F2AA42;
  border: none;
  width: 50px;
  height: 50px;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}
.filters .form-select {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 6px;
  border: 2px solid #F2AA42;
  background-color: #1E1E1E;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
}

.start-button {
  background-color: #F2AA42;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 24px;
  font-size: 24px;
  cursor: pointer;
  margin: 10px 10px 10px 10px;
}
.start-button:hover {
  background-color: #ef9512;
}

.topbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  background-color: #1E1E1E;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.topbar .topbar-icon {
  background-color: #1E1E1E;
  border: none;
  cursor: pointer;
}
.topbar .topbar-icon .active-icon {
  background-color: #F2AA42;
}
.topbar .icon {
  position: relative;
}
.topbar .icon img {
  width: 30px;
  height: 30px;
}
.topbar .icon:hover {
  color: #F2AA42;
}
@media only screen and (min-width: 768px) {
  .topbar {
    display: none;
  }
}

footer {
  text-align: center;
  padding: 10px 0;
  z-index: 1;
  padding-top: 5%;
}
footer p {
  color: #EBE9E7;
}
@media only screen and (max-width: 500px) {
  footer p {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
